<div class="prod">

  <div *ngFor="let product of products">

    <div class="content" routerLink="/products/{{product.name}}">

      <h3>
        <a >
          {{ product.name }}
        </a>
      </h3>

      <div class="inner">

        <p *ngIf="product.description">
          Description: {{ product.description }}
        </p>

  <!--      <p *ngIf="product.rating">-->
  <!--        rating: {{ product.rating }}-->
  <!--      </p>-->

        <img class="image" [src]="product.pic[0]" width="250px">

      </div>

      <div class="btns">

        <div class="first_col">

          <button type="button" >
            Share
          </button>

          <div class="like-btn">
            <button type="button" >Like</button>
  <!--          <p> {{ product.likes }}</p>-->
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
