.prod {
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.content {
  margin: 10px 5px;
  border: black 1px solid;
  border-radius: 12px;
  padding: 10px 5px 30px;
  height: 275px;
  background-color: rgb(229, 210, 131);
}

.content p {
  font-size: 12px;
}

.content h3 {
  cursor: pointer;
  text-align: center;
}

/*.content:hover {*/
/*  cursor: pointer;*/
/*}*/

.product-image {
  margin: 20px 0;
  /*background-color: rgb(33, 53, 85);*/
}

.product-image img {
  width: 80%;
}

.first_col {
  display: flex;
}

/*h2 {*/
/*  color: #4d1677;*/
/*}*/

/*.filter {*/
/*  width: 100%;*/
/*  display: flex;*/
/*  margin: 10px;*/
/*}*/

/*.filter .toggle{*/
/*  width: 150px;*/
/*  height: 35px;*/
/*  margin: 10px 30px;*/
/*  color: black;*/
/*  background-color: rgb(233, 216, 249);*/
/*}*/

/*.content {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  max-width: 350px;*/
/*  background-color: white;*/
/*  padding: 0  30px;*/
/*  padding-bottom: 50px;*/
/*}*/

/*.inner {*/
/*  background-color: white;*/
/*  padding: 0 10px;*/
/*}*/

/*h2 {*/
/*  margin: 10px 40px 0;*/
/*  font-weight: 800;*/
/*  font-size: 30px;*/
/*}*/

.btns{
  margin-top: 30px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 50px; */
}

/*.btns button {*/
/*  height: 35px;*/
/*}*/

/*app-product-alerts {*/
/*  margin-top: -15px;*/
/*}*/

/*.like-btn {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*}*/

/*.first_col {*/
/*  margin-top: 28px;*/
/*}*/

/*.like-btn p {*/
/*  color: #a532ba;*/
/*  border: 1px solid #a532ba;*/
/*  padding: 7px 7px;*/
/*}*/

/*.like-btn button {*/
/*  color: #a532ba;*/
/*  border: 1px solid #a532ba;*/
/*  padding: 5px 15px;*/
/*  background-color: transparent;*/
/*  color: black;*/
/*  margin-right: 5px;*/
/*}*/
