.header .container {
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
}

.menu-list {
  list-style: none;
  display: flex;
}

.menu-item {
  margin: 5px 20px;
}
