.header .container {
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(33, 53, 85);
}

.menu-list {
  list-style: none;
  display: flex;
}

.menu-item {
  margin: 5px 20px;
}

a {
  color: rgb(229, 210, 131);
}
